@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  margin:2px;
}

:root {
  --titulo-color: #fff;
  --parrafo-color: #222;
  --bg1-color: #222;
  --bg2-color: #0a0a0a;
  --bg3-color: #fbf3ca;
  --bg4-color: #ffffff86;
  --shadow1-color: rgb(255, 245, 132);
  --shadow2-color: rgb(255, 245, 149);
  --border-color: #ecc15b;
  --border1-color: rgb(255, 245, 132);
  --border2-color: #f8ce6b;
  --border3-color: #fedc8b;
}


/* FONDO */

html,
body {
  width: 100%;
  height: 95%;
  overflow: hidden;
}

body {
  margin: auto;
  background-image: url(./img//fondos/a4.jpg);
  background-size: cover;
}

.contenedor{
  width: 800px;
  margin: auto; 
}

img{
  vertical-align: top;
}




/* PANTALLA DE CREDITOS */

header{
  position: relative;
  height: 195px;
}




.pantalla{
  box-shadow: 0 0 10px var(--shadow1-color);
  border: var(--border1-color) 2px solid;
  background-image: url('./img/Fondo3.jpg');
  width: 424px; 
  height: 180px; 
  border-radius: 25px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}

#lineal{
  display: flex;
  align-items: center;
  margin: 10px 0 0 19px;
}

#credito{
  color:#ffe17e;
  font-size: 1.5rem;
}

#dinero {
  font-size: 4.2em;
  color: var(--titulo-color);
}

#euro{
  font-size: 1.4em;
  color: var(--titulo-color);
}

#monedas img{
  width: 51px;
}

#monedas{
  margin: 5px 0 0 19px;
}


/* PALANCA */

#palanca{ 
  position: relative;
  animation: rotarPalanca 0.5s linear;
  z-index: -1;
}

/*
@keyframes rotarPalanca {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateX(45px) rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
*/

#tirar{
  width: 85px;
  height: 85px;
  background-image: radial-gradient(circle at 5.79% 24.48%, #ff7171 0, #ff5959 16.67%, #ff4040 33.33%, #ef0d0d 50%, #c41c1c 66.67%, #b41d1d 83.33%, #d42626 100%);
  color: transparent;
  border-radius: 47%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  box-shadow: 0 0 13px rgb(255, 57, 57) inset;
  user-select:none;
  cursor: pointer;
  position: absolute;
  transform: rotate(5deg);
  right: 28px; 
  top: 60px; 
}

#palo{
  width: 30px;
  height: 280px;
  background-image: linear-gradient(to right, #fff6bf, #fceead, #f9e69c, #f7de8a, #f5d679, #f1cc6c, #edc35f, #e9b952, #e1ac47, #da9e3c, #d29132, #ca8428);
  box-shadow: 0 0 13px var(--shadow2-color)inset;
  position: absolute;
  border-radius: 50px;
  right: 70px; 
  top: 60px;
  transform: rotate(10deg);
}

.clic{
  background-color: transparent;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  color: transparent;
  position: absolute;
  right: 11px;
  bottom: 38px;
  color: var(--titulo-color);
}




/* MAQUINAS CON FRUTITAS */

#content_ventanas{ 
  width: 600px;
  background-image: linear-gradient(to top, #ffe681, #ffe17e, #ffdc7b, #ffd778, #ffd276, #faca6f, #f6c268, #f1ba61, #e7ad53, #dda046, #d39339, #c9862b);
  box-shadow: 0 0 13px var(--shadow1-color)inset;
  border-radius: 41%;
  margin-top: 10px;
  margin: auto;
}

#ventanas{ 
  width: 520px;
  height: 222px;
  display: flex;
  background-image: linear-gradient(to top, #fff4ad, #ffeb91, #f9e69c, #f7de8a, #ffe492, #ffe59e, #ffdf8e, #ffe098, #eec05a, #ebbc56, #e9b753, #e6b350);
  padding: 10px 24px 0px 17px;
  justify-content: center;
  border-radius: 100px;
  margin: auto;
  
}

.ventana{
  width: 170px; 
}

.imagen{
  display: flex;
  width: 170px;
  height: 200px;
  border:4px solid var(--border3-color);
  background-color: var(--bg4-color);
  border-radius: 15px;
  align-content: center;
  text-align: center;
  margin: auto;
  overflow: hidden;
  
}

.imgx{
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

/*
.imgx{
  animation: girarInfinito 1s linear infinite;
}

@keyframes girarInfinito {
  0% { transform: translateY(-54%); opacity: 1; }
  50% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(54%); opacity: 1; }
}
*/

.a{
  border-radius: 45% 0 0 45%;
}

.b{
  border-radius: 0 0 0 0;
}

.c{
  border-radius: 0 45% 45% 0;
}

.boton{
  display: flex;
  width: 170px;
  height: 40px;
  border: 4px solid var(--border1-color);
  background-color: var(--bg3-color);
  color: var(--parrafo-color);
  justify-content: center;
  align-items: center; 
  text-align: center; 
  font-size: 1.4em;
  user-select: none; 
  margin: auto;
  margin-top: 35px;
}

.d{
  border-radius: 50px 0 0 50px;
  border: 4px solid var(--border-color);;
}

.e{
  border-radius: 5px;
  border: 4px solid var(--border-color);;
}

.f{
  border-radius: 0 50px 50px 0;
  border: 4px solid var(--border-color);;
}

#tirar:hover{
  background-color: var(--border-color);;
}

.boton:hover {
  background-color: var(--border2-color);
  color: var(--titulo-color);
}






/* VENTANA EMERGENTE */

#velo { 
  position: fixed;
  background-color: rgba(0, 0, 0, 0.604);
  align-items: center;
  justify-content: center;
  color: var(--titulo-color);
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
}

#ventanaMsj{
  background-color: var(--bg2-color);
  box-shadow: 0 0 8px var(--shadow2-color);
  border: 4px solid var(--shadow1-color); 
  width: 400px; 
  border-radius: 12px;
  position: relative;
  margin: auto;
}

#mensaje{
  font-size: 1.5em;
  color: var(--titulo-color);
  text-align: center;
  margin: 10px;
  margin-top: 16px;
  user-select: none; 
}

#mensaje img{
  margin: 10px -5px;
}

#cruz{
  position: absolute;
  width: 24px;
  right: 5px;
  top: 5px;
}

#monedaWin{
  margin-top: 10px;
  width: 48px;
}

#gato{
  margin-top: 10px;
  width: 220px;
}

.restart{
  border: 3px solid var(--border-color);
  background-color: var(--bg3-color); 
  color: var(--parrafo-color);
  border-radius: 25px;
  padding: 5px 7px;
  margin: 8px auto;
  font-size: 1.04rem;
}









.play{
  display: flex;
  justify-content: center;
  padding: 40px;
}

.play p{
  margin-right: 8px;
  margin-left: 32px;
}

/*------ Settings ------*/
.containerx {
  color: var(--titulo-color);
  --color: #ffffff;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--titulo-color);
}

.containerx .pause {
  position: absolute;
  animation: keyframes-fill .5s;
}

.containerx .play{
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.containerx input:checked ~ .pause  {
  display: none;
}

.containerx input:checked ~ .play {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.containerx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}


@media (min-width: 720px) {
  body {
    height: 100vh;
    overflow: auto;
  }
}
